.App {
  text-align: center;
  background-color: white;

}

.App-header {
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(100px + 2vmin);
  color: rgb(90, 90, 90);

}

.h1 {
  font-size: calc(5vw);
  margin: 0px;
}

.p {
  font-size: calc(10px + 2vmin);
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.App-link {
  color: #ebc91f;
}

.logo {
max-width: 50vw;
}
